/*For bigger screen then normal 1500px desktop*/
@media (min-width: 1500px) {
  .container{
    max-width: 1170px;
  }
}

/*For bigger screen then normal 960px desktop*/
@media (min-width: 1200px) {

}

@media only screen and (max-width: 1199px) {

}

@media (min-width: 992px) and (max-width: 1024px) {


}


/*For Tablet Layout*/
@media (min-width: 768px) and (max-width: 991px) {

}


/*For Tablet Layout*/
@media (max-width: 991px) {

h1, .h1, h2, .h2 {
    font-size: 36px;
}	



}


/*For Wide Mobile Layout*/
@media (max-width: 767px) {
h1, .h1 , h2, .h2 {
    font-size: 30px;
}

}


/*For 320-384px up Mobile Layout*/
@media (max-width: 479px) {

h1, .h1 {
    font-size: 25px;
}


}